@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import 'font-awesome.min.css';

/**
 * Style variables
 */
$base-font-family:     'Source Code Pro', monospace !default;
$base-font-size:       14px !default;
$mobile-font-size:     12px !default;
$base-line-height:     1.5 !default;
$container-width:      90% !default;
$container-max-width:  600px !default;
$base-color:           #DBDBDB !default;
$primary-color:        #a1fc8f !default;
$text-color:           $base-color !default;
$placeholder-color:    $base-color !default;
$link-color:           $base-color !default;
$border:               dashed 1px rgba(219,219,219,0.9) !default;
$selection-background: rgba(219,219,219,0.99) !default;
$selection-text:       #000 !default;
$background-color:     #000 !default;

/**
 * Global
 */
html { margin: 0; height: 100%; width: 100%; }
body { background-color: $background-color; margin: 0 auto; padding: 0; min-height: 100%; width: 100%; font-family: $base-font-family;  font-size: $base-font-size;  color: $text-color;  text-align: left;  line-height: $base-line-height !important; }
h1, h2, h3, h4, h5, h6 { font-size: $base-font-size;  margin: 0px;  margin-top: 22px;  font-weight: bold;  color: $text-color; }
p, ul, ol { margin: 0px;  color: $text-color; }
a { text-decoration: underline;  color: $link-color; }
a:hover { color: $background-color; background-color: $base-color; }
.primary-text { color: $primary-color; }
@media only screen and (max-device-width: 500px) { * { font-size: $mobile-font-size !important; } }
/*h1:before { content: "#";  margin-right: 9px; }
h2:before { content: "##";  margin-right: 9px; }
h3:before { content: "###";  margin-right: 9px; }
h4:before { content: "####";  margin-right: 9px; }
h5:before { content: "#####";  margin-right: 9px; }
h6:before { content: "######";  margin-right: 9px; }*/

/**
 * Layout
 */
.container { width: $container-width;  max-width: $container-max-width;  margin-right: auto;  margin-left: auto; }
p { word-wrap: break-word;  word-break: break-word;  white-space: pre-wrap; }
footer { color: $text-color;  border-top: $border;  margin: 20px auto 15px;  padding-top: 10px;  text-align: right; }
header { text-align: left; margin-top: 25px;  margin-bottom: 10px; }
header p { text-align: left;  margin: 0; }
footer { margin-bottom: 20px; }

/**
 * Highlight/Markup
 */
::selection { background: $selection-background;  color: $selection-text; }
::-moz-selection { background: $selection-background;  color: $selection-text; }

/**
 * Lists
 */
:not(.menu) > ul { list-style: none;  padding-left: 0; }
:not(.menu) > ul { list-style-type: none; }
:not(.menu) > ul > li:before { content: "-";  margin-right: 9px; }

/**
 * Header/Navigation
 */
.menu { border-top: $border;  border-bottom: $border;  margin-bottom: 25px; }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 10px; }
.menu ul li a { text-decoration: none;  color: $text-color; }
.menu ul li a:hover { text-decoration: none; color: $background-color; background-color: $base-color; }

/**
 * Form
 */
input, select, textarea { padding: 0;  margin: 0;  -webkit-appearance: none;  -webkit-border-radius: 0;  border: none; }
input[type=text], select, textarea { width: 100%;  resize: none;  background-color: $background-color;  color: $text-color;  caret-color: $text-color;  font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height; }
input, select, textarea, textarea::-webkit-input-placeholder { text-indent: 0px; }
::placeholder { color: $placeholder-color;  opacity: 1; }
:-ms-input-placeholder { color: $placeholder-color; }
::-ms-input-placeholder { color: $placeholder-color; }
input[type=submit] { font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height;  cursor: pointer;  color: $link-color;  background-color: $background-color; }
input[type=submit]:hover { color: $background-color; background-color: $base-color; }
*:focus { outline: none; }
textarea { vertical-align: top; }

/**
 * Code and syntax highlighting
 */
pre { background-color: $background-color;  border: none;  padding: 0px;  overflow:auto;  font-size: $base-font-size;  color: rgba(255,255,255,0.65);  line-height: 1.7 !important; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */

/* =Variables
------------------------------------- */
// Colors
$pure-white: hsla(0, 0%, 100%, 1); // #fff
$pure-black: hsla(0, 0%, 0%, 1); // #000
$dark-jungle-green: hsla(210, 3%, 11%, 1); //1c1d1e
$grey-dark: hsla(0, 0%, 25%, 1); // #404040
$white-dark: hsla(0, 0%, 95%, 1); /// #f1f1f1
$fuel-yellow: hsla(36, 100%, 49%, 1); // #f89500

// Fonts
$droid-serif: 'Droid Serif', serif;
$kalam: 'Kalam', cursive;
$open-sans: 'Open Sans', sans-serif;

// transition
$transition: .5s cubic-bezier(.77, 0, .175, 1);
$transition-fast: .2s cubic-bezier(.77, 0, .175, 1);

/* =Functions
------------------------------------- */
// Convert a pixel value to REM units
@function rem($pixel) {
  @return $pixel / 16 + rem;
}

/* =Styles
------------------------------------- */
html {
  background: $dark-jungle-green;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: left;
}

.c-intro {
  animation: fe30-anime 1s ease-in-out 4s forwards;
  opacity: 0;
}

.c-fe30 {
  color: $pure-white;
  margin-top: rem(40);
  text-align: left;
  
  a {
    color: $pure-white;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.c-ryanyu {
  background-color: transparent;
  display: block;
  font-family: $kalam;
  height: rem(70);
  margin: rem(20) auto 0;
  position: relative;
  text-align: center;
  width: rem(70);

  img {
    background-color: $pure-white;
    border: rem(3) solid $fuel-yellow;
    border-radius: 50%;
    height: rem(70);
    object-fit: contain;
    width: rem(70);
  }
}

.c-ryanyu__front {
  backface-visibility: hidden;
  height: inherit;
  position: absolute;
  top: 0;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  transition: all $transition;
  z-index: 2000;

  .c-ryanyu:hover & {
    transform: rotateY(180deg);
  }
}

.c-ryanyu__back {
  background-color: $pure-white;
  backface-visibility: hidden;
  border-radius: 50%;
  color: $fuel-yellow;
  height: inherit;
  position: absolute;
  text-align: center;
  top: 0;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all $transition;
  width: inherit;
  z-index: 1000;

  &::before {
    content: 'Ryan Yu';
    display: block;
    transform: rotate(-45deg) translate(-4px, 25px);
    width: rem(50);
  }

  .c-ryanyu:hover & {
    transform: rotateY(0);
  }
}

@keyframes fe30-anime {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

/* =Custom Styles
------------------------------------- */
.c-glitch,
.c-glitch__img {
  background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.c-glitch {
  height: calc(100vh - 200px);
  margin: 0 auto;
  overflow: hidden;
	position: relative;
  width: 60vw;
}

.c-glitch__img {
  background-blend-mode: none;
  background-color: transparent;
  height: calc(100% + 5px * 2);
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: calc(100% + 10px * 2);
  
  .c-glitch:hover &:nth-child(n+2) {
    animation-duration: 2s;
    animation-delay: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  
  .c-glitch:hover &:nth-child(2) {
    animation-name: glitch-anim-1;
  }
  
  .c-glitch:hover &:nth-child(3) {
    animation-name: glitch-anim-2;
  }
  
  .c-glitch:hover &:nth-child(4) {
    animation-name: glitch-anim-3;
  }
  
  .c-glitch:hover &:nth-child(5) {
    animation-name: glitch-anim-4;
    background-blend-mode: overlay;
    background-color: #af4949;
  }
}

.c-glitch__img:nth-child(n+2) {
	opacity: 0;
}

@keyframes glitch-anim-1 {
	0%, 100% { 
		opacity: 1;
		transform: translate3d(40px, 0, 0) scale3d(-1, -1, 1);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
  
	20% {
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
  
	30% {
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
  
	40% {
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
  
	50% {
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
  
	55% {
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
  
	60% {
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}

  65% {

		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}

	70% {

		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}

	80% {
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}

	85% {
		clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
	}

	95% {
		clip-path: polygon(0 72%, 100% 72%, 100% 78%, 0 78%);
	}
}

@keyframes glitch-anim-2 {
	0%, 100% { 
		opacity: 1;
		transform: translate3d(-10px, 0, 0);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
	}
  
	10% {
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
  
	15% {
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
  
	17% {
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
  
	19% {
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
  
	33% {
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
  
	35% {
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
  
	40% {
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
  
	45% {
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
  
	49% {
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
  
	50% {
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
  
	55% {
		clip-path: polygon(0 15%, 100% 15%, 100% 35%, 0 35%);
	}
  
	60% {
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
  
	70% {
		clip-path: polygon(0 65%, 100% 65%, 100% 60%, 0 60%);
	}
  
	80% {
		clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%);
	}
  
	90% {
		clip-path: polygon(0 55%, 100% 55%, 100% 65%, 0 65%);
	}
}

@keyframes glitch-anim-3 {
	0%, 100% {
		opacity: 1;
		transform: translate3d(0, -5px, 0) scale3d(-1, -1, 1);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
  
	5% {
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
  
	11% {
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
  
	20% {
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
  
	25% {
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
  
	35% {
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
  
	42% {
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
  
	48% {
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
  
	50% {
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
  
	56% {
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
  
	61% {
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
  
	68% {
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
  
	72% {
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
  
	77% {
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
  
	81% {
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
  
	86% {
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
  
	90% {
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
  
	92% {
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
  
	94% {
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
}

@keyframes glitch-anim-4 {
	0%, 5% { 
		opacity: 0.2; 
		transform: translate3d(10px, 5px, 0);
	}

	5.5%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}

